/* INPUT */
.MuiInputBase-input {
  color: var(--color-primary) !important;
}
.MuiInputLabel-root {
  color: var(--color-primary-fade) !important;
}

.MuiInput-input {
  color: var(--color-primary) !important;
}

/* BUTTON */
.css-1hko0qt-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: var(--color-primary-fade) !important;
  border-color: var(--color-primary-fade) !important;
}

.css-1f6acwx-MuiChip-root {
  color: var(--color-primary-fade) !important;
}

.toast {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  z-index: 1100;
  transition: ease 0.5s;
}

.close-toast {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--color-primary-fade);
  transition: ease 0.3s;
}

.close-toast:hover {
  color: black;
  transition: ease 0.3s;
  cursor: pointer;
}
