/* INPUT */
.MuiInputBase-input {
  color: var(--color-primary) !important;
}
.css-1d3vil4-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--color-primary-fade) !important;
}
.css-3dg9oc-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--color-primary-fade) !important;
}

/* BUTTON */
.css-1hko0qt-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: var(--color-primary-fade) !important;
  border-color: var(--color-primary-fade) !important;
}

.css-1f6acwx-MuiChip-root {
  color: var(--color-primary-fade) !important;
}
