:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffeb3b;
  background: url("./assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* VARIABLES */
  --color-primary: #ffeb3b;
  --color-primary-fade: #8f7001;
  --color-primary-shadow: rgba(255, 235, 59, 0.6);
  --color-dark-second: rgba(255, 255, 255, 0.2);
  --spacing-1: 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(36, 36, 36, 0.65);
  overflow: hidden;
}
